tmp-pdfcrop-13964.tex
*.ini
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.eoc
*.fmt
*.fot
*.cb
*.cb2
*.tce
.*.lb
*.dvi
*.xdv
*-converted-to.*
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
Temp/*
simkai.ttf